{%extends "base.html" %}

{%block title%}
    Home page
{%endblock%}

{%block content %}
<nav>
        <ul>
            <li>
                <a href="#">
                    {email}
                </a>
            </li>
            <li>
                <a href="#">
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="flex-wrapper">
            <form action="{{url_for('insert')}}" method="POST" class="flex-form">
              <h1>Add Note</h1>
            <label for="title">Title</label>
            <input type="text" class="input-title" name="title">
            <label for="content">Description</label>
            <textarea name="content" class="input-content" cols="60"></textarea>
            <input type="submit" value="Add Item" class="btn">
          </form>
        </div>
    </div>
{%endblock%}